body {
margin:0
font-family:Arial, sans-serif;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
background:#f0f4f8;
}

.carousel-container{
	position:relative;
	width:90%;
	max-width:900px;
	overflow:hidden;
}
.carousel{
	display:flex;
	transition: transition 0.5s ease-in-out;
}
.card{
	flex:0 0 250px; /*default card width*/
	margin:0 10px;
	background:#fff;	
	border-radius: 12px;
	box-shadow: 0 8px 20px rgba (0,0,0,0.15);
	text-align:center;
	padding:20px;
	box-sizing: border-box;
}
.card img{
	width:100px;
	height:150px;
	object-fit:cover;
	border-radius:8px;
}
.card h3{
	margin:15px 0 10px;
	font-size:1.2rem;
	color:#333;
}
.card p{
	font-size:0.9rem;
	color:#666;
}
.prev,.next{
	position:absolute;
	top:50%;
	transform:translateY(50%);
}
	
	
	
}
	
